@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;1,300;1,400&display=swap');
*{
padding: 0;
margin: 0;
list-style: none;
text-decoration: none;
font-family: 'Roboto', sans-serif;
box-sizing: border-box;
}
.header{
min-height: 90vh;
background-image: linear-gradient(to right, rgba(4,9,30,0.5), rgba(4,9,30,0.5)), url("https://images.unsplash.com/photo-1554692918-08fa0fdc9db3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=750&q=80");
background-size: cover;
background-position: center;
}
.nav{
overflow: hidden;
z-index: 2;
}
.nav a{
text-decoration: none;
padding: 20px 22px;
color: white;
float: left;
display: block;
font-size: 20px;
}
a.icon{
float: right;
display: none;
}
.tagline{
color: #fff;
position: absolute;
top: 50%;
left:25%;
}
.tagline h1{
font-size: 40px;
}

.row{
display: flex;
align-items: center;
flex-wrap: wrap;
justify-content: space-around;
}
.row-2 p{
font-size: 20px;
}
.categories{
margin: 70px 0;
}
.big-container{
max-width: 1500px;
margin: auto;
padding-left: 25px;
padding-right: 25px;
}
.col-3 img{
width: 100%;
}
.col-3{
width: 30%;
min-width: 300px;
margin-bottom: 30px;
box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
}
h2{
text-align: center;
margin-top: 30px;
font-size: 50px;
margin-bottom: 30px;
}
.shop{
padding: 10px;
margin: 10px;
margin-left: 160px;
margin-bottom: 10px;
font-size: 20px;
border: 1px solid #0081D5;
color: #6A5ACD;	
border-top-left-radius: 25px;
background: #fff;
box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
}
.shop:hover {
border: 1px solid #0081D5;
background: #0081D5;
color: #fff;
}

.col-4{
width: 20%;
 box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
padding: 10px;
min-width: 200px;
margin-bottom: 50px;
}
.col-4 img{
width: 100%;
}
h4{
color: #555;
}
.col-4 p{
font-size: 14px;
}
button.btn {
padding: 10px 20px;
margin-top: 8px;
font-size: 15px;
border: 1px solid #0551b4;
color: #0551b4;
background: transparent;
cursor: pointer;
}
button.btn:hover {
border: 1px solid #0551b4;
background: #0551b4;
color: #fff;
}
footer{
background-color: #fff;
padding: 20px;
margin-top: 40px;
width: 100%;
text-align: center;
margin-bottom: 10px;
box-shadow: 0 4px 8px 0 rgb(0 0 0 / 31%), 0 6px 20px 0 rgb(0 0 0 / 30%);
}
.note{
color: black;
}
@media screen and (max-width: 700px) {
.header{
min-height: 90vh;
background-image: linear-gradient(to right, rgba(4,9,30,0.5), rgba(4,9,30,0.5)), url("https://sloganshub.org/wp-content/uploads/2017/10/Animal-Shelter-Slogans-5.jpg");
background-size: cover;
background-position: center;
}

 .nav a:not(:first-child){
    display: none;
}
.nav {
position: relative;
}
.nav a.icon{
display: block;
position: absolute;
top:0;
float: none;
right: 0;
}

div.nav.clicked a {
display: block;
float: none;
text-align: left;
color: #000;
background : #fff;
box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
}
.heading{
position: absolute;
top: 7%;
left: 80px;
}
.tagline{
display: none;
}
.row-2 p{
margin-bottom: 20px;
}
.col-3{
width: 100%;
}
.shop{
margin-left: 130px;
}
.col-4{
width: 100%;
}
}

.header-1{
min-height: 60vh;
background-image: linear-gradient(to right, rgba(4,9,30,0.6), rgba(4,9,30,0.6)), url("https://images.unsplash.com/photo-1560743173-567a3b5658b1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=749&q=80");
background-size: cover;
background-position: center;
}
.heading{
color: #fff;
font-size: 60px;
position: absolute;
top: 25%;
right: 700px;
}




.header-2{
min-height: 60vh;
background-image: linear-gradient(to right, rgba(4,9,30,0.6), rgba(4,9,30,0.6)), url("https://images.unsplash.com/photo-1602378590282-5c8c017dfbfb?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80");
background-size: cover;
background-position: center;
}





.header-3{
min-height: 60vh;
background-image: linear-gradient(to right, rgba(4,9,30,0.6), rgba(4,9,30,0.6)), url("https://images.unsplash.com/photo-1617573999705-6ce6fbe7c970?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80");
background-size: cover;
background-position: center;
}



.header-4{
min-height: 60vh;
background-image: linear-gradient(to right, rgba(4,9,30,0.6), rgba(4,9,30,0.6)), url("https://images.pexels.com/photos/34577/pexels-photo.jpg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
background-size: cover;
background-position: center;
}
.buy{
  width: 100%;
  height: 400px;
  display: flex;
  box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
}

.checkout{
  width: 100%;
  height: 120%;
  background: #fff;
  padding: 30px;
}

.checkout h3{
  margin-bottom: 25px;
  text-align: center;
}

.checkout .input-item{
  margin-bottom: 10px;
}

.checkout .input-item label{
  display: block;
  margin-bottom: 5px;
}

.checkout .input-item  input[type="text"]{
  width: 100%;
  border: none;
  background: #f2f2f2;
  padding: 10px;
}

.checkout .btn{
  background:  #ffc32d;
  padding: 10px;
  margin-top: 15px;
}

.checkout  .btn a{
  display: block;
  color: #fff;
  font-weight: bold;
  letter-spacing: 2px;
  text-align: center;
}